<p>
  <b>Organisation post:</b>
  <%=h @organisation_post_spoken_language.organisation_post_id %>
</p>

<p>
  <b>Language:</b>
  <%=h @organisation_post_spoken_language.language_id %>
</p>

<p>
  <b>Rank:</b>
  <%=h @organisation_post_spoken_language.rank %>
</p>


<%= link_to 'Edit', edit_organisation_post_spoken_language_path(@organisation_post_spoken_language) %> |
<%= link_to 'Back', organisation_post_spoken_languages_path %>