<h1>Add your Expert offer</h1>
<br />
<% form_for(@individual_post) do |f| %>
  <%= f.error_messages %>

  <input name="individual_post[user_id]" type="hidden" value =<%=  @current_user.id %> />

  <p>
    Title (short text describing your role: i.e. "Techician", "Sound Engineer" ...)<br />
    <%= f.text_field :title %>
  </p>
  <p>
    Kind<br />
    <%= select 'individual_post', 'kind', INDIVIDUAL_POST_KINDS %>
  </p>

  <p>
    Best time (when, for how long...)<br />
    <%= f.text_field :when %>
  </p>
  <p>
    Description<br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
