<h2>Organisation Profile</h2>
<br>
<% if @user.signup_step == 1 %>
<div style="float: right; clear: right;">Want to register as an individual? <br>
Register for the <%= button_to APPLICATION_NAME+' for individuals', 'edit_profile' %> <br></div>
<% end %>
<br>
<br>
<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <input name='edit_action' type='hidden' value = 'edit_profile' />
  <p>
    <%= f.label :city, "City" %> (where you live)<br />
    <%= f.text_field :city, :size => 40, :maxlength=> 50   %>
  </p>
  <p>
    <%= f.label :post_code, "Post Code" %><br />
    <%= f.text_field :post_code, :size => 10, :maxlength=> 10  %>
  </p>
  <p>
    <%= f.label :country, "Country" %><br />
    <%= select 'user', 'country', COUNTRY_TYPES %>
  </p>
  <p>
    <%= f.label :state, "State/Region" %> (if applicable)<br />
    <%= f.text_field :state, :size => 25, :maxlength=> 25  %>
  </p>
  <p>
    <%= f.label :age, "Age" %><br />
    <%= select 'user', 'age', AGE_TYPES %>
  </p>
  <p>
    <%= f.label :gender, "Gender" %><br />
    <%= select 'user', 'gender', GENDER_TYPES %>
  </p>
  <p>
    <%= f.label :job_area %><br>Which of the following best describes the area of culture you currently work in?<br />
    <%= select 'user', 'job_area', JOB_AREA_TYPES %>
  </p>
  <p>
    <%= f.label :job_role %><br>What are your role in your organisation?<br />
    <%= select 'user', 'job_role', JOB_ROLE_TYPES %>
  </p>
  <p>
    <%= f.label :job_description, "Short job description" %><br />
    <%= f.text_field :job_description, :size => 20, :maxlength=> 20  %>
  </p>

  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
