<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Contacted user</th>
    <th>Description</th>
    <th>When</th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%=h contact.id %></td>
    <td><%= link_to fb_name(contact.user.uid,           :linked => false), contact.user           %></td>
    <td><%= link_to fb_name(contact.contacted_user.uid, :linked => false), contact.contacted_user %></td>
    <td><%=h contact.description %></td>
    <td><%=h contact.when %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Remove', contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
