<p><%= link_to APPLICATION_LONG_NAME.upcase,  APPLICATION_INFO_LINK -%>'s privacy</p>
<br>
<br>
<br>
<%= image_tag  'cr_logo_rgb_web_72-237x300_DEMO.jpg', :alt=> '   ', :height=>"150" , :style=>"float: left; margin-right: 15px; margin-bottom: 15px;"%>

<p>

  The  <%= APPLICATION_NAME_WITH_STYLE -%> is for staff and volunteers working at cultural centres in the
  <%= link_to "#{MAIN_ORG_NAME} (#{MAIN_ORG_SHORT_NAME})", MAIN_ORG_LINK %> network to connect and communicate
  with each other.
</p>

<p>
Our privacy policy is very simple: it is strict!  All information collected inside the <%= APPLICATION_NAME_WITH_STYLE -%> will not be given to anybody outside <%= link_to MAIN_ORG_NAME, MAIN_ORG_LINK %>.   <br />
The information about a user which is visible in their profile comes from user's facebook profile for which the user has total control on what is visible to whom, so, i.e., if a user decide not to show his/her curricula to non friends in Facebook, then
the curricula will be of course not visible to non friends in the  <%= APPLICATION_NAME_WITH_STYLE -%> too. <br />
We ask users to add some data inside our <%= APPLICATION_NAME_WITH_STYLE -%>.  This data is visible only for users who belongs to the <%= APPLICATION_NAME_WITH_STYLE -%> and this will not change without your explicit approval. <br />
Each user can anytime edit his/her profile and remove his/her profile by clicking "remove me" in the profile page, in which case all user's data will be definitively removed from our servers.
</p>


<p>
 Please <%= link_to 'contact us', CONTACT_US_LINK  %> if you have any questions.
</p>

<p>

</p>


