<p><%= link_to APPLICATION_LONG_NAME.upcase,  APPLICATION_INFO_LINK -%>'s terms of service</p>
<br>
<br>
<br>
<%= image_tag  'cr_logo_rgb_web_72-237x300_DEMO.jpg', :alt=> '   ', :height=>"150" , :style=>"float: left; margin-right: 15px; margin-bottom: 15px;"%>

<p>

  The  <%= APPLICATION_NAME_WITH_STYLE -%> is for staff and volunteers working at cultural centres in the
 <%= link_to MAIN_ORG_NAME, MAIN_ORG_LINK %> network to connect and communicate
  with each other.
</p>

<p>
All information collected inside the <%= APPLICATION_NAME_WITH_STYLE -%> will not be given to anybody outside <%= link_to MAIN_ORG_NAME, MAIN_ORG_LINK %>.   <br />
Each user can anytime remove his/her profile by clicking "remove me" in the profile page, in which case all user's data will be definively removed from our servers.
</p>


<p>
 Please <%= link_to 'contact us', CONTACT_US_LINK %> if you have any questions.
</p>

<p>

<%= link_to "CHANGING ROOM", 'http://www.teh.net/changingroom' %> is a pilot project by <%= link_to "Trans Europe Halles", 'http://www.teh.net' %>
looking for new ways of stimulating cross-border mobility of cultural operators.   You are very welcome to use the other parts of
the  <%= link_to "TOOLKIT", 'http://changingroom.teh.net' %>.

</p>


